@import "variables.scss";

body {
  background-color: $bg-color-1;
  color: white;
  margin: 0;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  font-family: inherit;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #017f7c;
  position: fixed;
  top: 0;
}

.fade-in {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation: ease fadeIn 0.35s;
}

@media screen and (min-width: 320px) {
  nav {
    height: 50px;
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
