div.container {
    $side-margin: 2rem;

    margin-left: $side-margin;
    margin-right: $side-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}