@use "sass:color";

$bg-color-1: #090909;
$bg-color-2: #d8d8d8;
$bg-color-3: #b6b6b6;
$bg-color-4: #222222;

$txt-color-1: #f6f6f6;
$txt-color-2: #0c0c0c;

$error-color-1: #c71524;

$transparent-color-white: rgba(255, 255, 255, 0.5);
$transparent-color-black: rgba(0, 0, 0, 0.8);

$border-radius-1: 1.4rem;

$button-color-1: $bg-color-1;
$button-color-2: color.adjust($button-color-1, $lightness: 5%);

$transition-1: ease 0.2s;
$transition-2: ease 0.1s;
