@use "../variables.scss" as *;

div.container {
  display: flex;
  flex-direction: column;

  code {
    font-size: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  pre > div {
    $border-radius: $border-radius-2;

    border-radius: $border-radius;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    background-color: $bg-color-4;
    width: 100%;

    & > span {
      padding: 0.5rem 0.6rem;
      color: $txt-color-1;
      background-color: inherit;
    }

    & > div {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      padding: 0.7rem;
    }
  }

  p {
    margin: 0;
    white-space: pre-wrap;
  }

  div.promptContainer {
    $margin: 1rem;

    color: $txt-color-2;
    margin-top: $margin;
    margin-bottom: $margin;
    display: inline-block;
    align-self: flex-end;
    border-radius: $border-radius-1 * 0.8;
    background-color: $bg-color-2;
    padding: 0.8rem;
    max-width: 75%;
    word-wrap: break-word;
    overflow-x: auto;

    a {
      color: $bg-color-4;
    }

    pre > div > div {
      background-color: $bg-color-1;
      color: $txt-color-1;
    }
  }

  div.replyContainer {
    margin-top: 1rem;
    text-align: left;
    align-self: flex-start;

    a {
      color: $bg-color-3;
    }

    p {
      display: inline;
    }

    pre > div > div {
      background-color: $bg-color-2;
      color: $txt-color-2;
    }

    table {
      border-radius: $border-radius-1;
      border-collapse: collapse;
      width: 100%;
      margin: 0.6rem 0;
      overflow: hidden;

      $pad: 0.85rem;

      th {
        background-color: $bg-color-4;
        color: $txt-color-1;
        padding: $pad;
      }

      td {
        background-color: $bg-color-2;
        color: $txt-color-2;
        padding: $pad;
      }
    }
  }

  div.chatOptions {
    margin: 0.4rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }
}
