@use "../variables.scss" as *;

div.container {
  display: flex;
  flex-direction: column;

  code {
    font-size: 1rem;
  }

  pre {
    border-radius: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    & > span {
      $side-pad: 0.6rem;

      padding: 0.45rem $side-pad 0.35rem $side-pad;
      background-color: $bg-color-4;
      color: $txt-color-1;
    }

    & > div {
      padding: 0.7rem;
    }
  }

  p {
    margin: 0;
    white-space: pre-wrap;
  }

  div.promptContainer {
    $margin: 1rem;

    color: $txt-color-2;
    margin-top: $margin;
    margin-bottom: $margin;
    display: inline-block;
    align-self: flex-end;
    border-radius: $border-radius-1 * 0.8;
    background-color: $bg-color-2;
    padding: 0.8rem;
    max-width: 75%;
    word-wrap: break-word;

    pre > div {
      background-color: $bg-color-1;
      color: $txt-color-1;
    }
  }

  div.replyContainer {
    margin-top: 1rem;
    text-align: left;

    p {
      display: inline;
    }

    pre > div {
      background-color: $bg-color-2;
      color: $txt-color-2;
    }
  }

  div.chatOptions {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }
}
