@use "../variables.scss" as *;

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 55rem;
  overflow-y: auto;
  padding-bottom: 25rem;

  div.loadingIndicatorContainer {
    margin-top: 2rem;
  }

  div.chatContainer {
    margin-bottom: 1rem;
    width: 100%;

    & > div {
      $side-margin: 2rem;

      margin-left: $side-margin;
      margin-right: $side-margin;

      div.emptyChat {
        user-select: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 100%;
        color: $transparent-color-white;
      }
    }
  }
}
