@use "../variables.scss" as *;

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;

  div.loadingIndicatorContainer {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  $max-width: 55rem;

  div.emptyChat {
    font-size: 1.2rem;
    user-select: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: $max-width;
    height: 100%;
    color: $transparent-color-white;

    div.suggestionsContainer {
      display: flex;
      gap: 0.5rem;
      padding: 0 0.8rem;
      margin-bottom: 7rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $breakpoint-xs) {
        display: none;
      }
    }

    p {
      padding: 0 1.2rem;
      margin-top: 0;
      max-width: 70%;

      @media screen and (max-width: $breakpoint-xl) {
        max-width: 45%;
      }

      @media screen and (max-width: $breakpoint-sm) {
        max-width: 100%;
      }
    }
  }

  div.chatContainer {
    padding-top: 1.3rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    & > div {
      padding: 0 2.2rem;
      margin: 1.6rem auto 8rem;
      max-width: $max-width;
    }
  }
}
