@use "../variables.scss" as *;

div.container {
  position: relative;

  label {
    color: rgba($txt-color-1, 0.85);
    opacity: 0;
    background-color: $bg-color-5;
    padding: 0.4rem;
    position: absolute;
    font-size: 0.9rem;
    border-radius: $border-radius-1 * 0.5;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 0.4rem;
    transition: opacity $transition-2;
    text-align: center;
  }

  button:hover + label {
    opacity: 1;
  }

  button {
    $alpha: 0.3;

    color: $txt-color-1;
    background: transparent;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.8;
    transition: $transition-2;
    padding: 0.4rem;
    border-radius: $border-radius-1 * 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 1;
      background-color: rgba($txt-color-1, $alpha);
    }

    &.red {
      $color: #f12525;

      color: $color;

      &:hover {
        background-color: rgba($color, $alpha);
      }
    }
  }
}
