@use "../variables.scss" as *;

nav.container {
  background-color: $bg-color-1;
  padding: 0.7rem;
  padding-bottom: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;

  div.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  b.logo {
    user-select: none;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 0.4rem;
  }

  @media screen and (max-width: $breakpoint-xs) {
    justify-content: center;
    flex-direction: column;

    div.buttonContainer {
      order: 2;
    }

    b.logo {
      order: 1;
      margin: 0;
    }
  }
}
