@use "../variables.scss" as *;

nav.container {
  background-color: $bg-color-1;
  padding: 0.4rem 0.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  height: 3.3rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 800;

  div.linksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  div.conversationInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    flex-shrink: 1;
    max-width: calc(100% - 20rem);

    & > * {
      width: 100%;
    }
  }

  div.logo {
    user-select: none;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 0.35rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.55rem;
  }
}

h1.modalTitle {
  margin: 0;
}

div.contentContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;

  input {
    margin-bottom: 0.4rem;
  }

  div {
    margin-top: 0.3rem;
  }
}
