@import "../variables.scss";

div.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $bg-color-1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  & > p {
    $side-padding: 0.7rem;

    margin-left: $side-padding;
    margin-right: $side-padding;
    font-size: 0.9rem;
    color: $transparent-color-white;
  }

  & > div {
    $side-margin: 1.5rem;

    width: calc(100% - (2 * $side-margin));
    padding: 0.6rem;
    border-radius: $border-radius-1;
    background-color: $bg-color-2;
    max-width: 50rem;
    display: flex;
    flex-direction: column;

    textarea {
      $pad: 0.5rem;

      padding-top: $pad;
      padding-bottom: $pad;
      color: $txt-color-2;
      background: none;
      font-size: 1rem;
      overflow: hidden;

      &::placeholder {
        color: $transparent-color-black;
      }
    }

    button {
      $size: 0.5rem;

      cursor: pointer;
      padding: $size calc(1.4 * $size);
      border-radius: calc($border-radius-1 - $size);
      font-size: calc(2 * $size);
      color: $bg-color-2;
      background-color: $button-color-1;
      transition: $transition-1;

      &:hover {
        background-color: $button-color-2;
      }

      &[disabled] {
        cursor: not-allowed;
        background-color: $bg-color-3;
        color: $bg-color-2;
      }
    }
  }
}
