@use "../variables.scss" as *;
@use "sass:color";

div.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $bg-color-1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  & > p {
    $side-padding: 0.7rem;

    margin-left: $side-padding;
    margin-right: $side-padding;
    font-size: 0.9rem;
    color: $transparent-color-white;
  }

  & > div {
    $side-margin: 1.2rem;

    width: calc(100% - (2 * $side-margin));
    padding: 0.6rem;
    border-radius: $border-radius-1;
    background-color: $bg-color-2;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    transition: $transition-1;

    &:hover {
      background-color: color.adjust($bg-color-2, $lightness: -4%);
    }

    textarea {
      $pad: 0.5rem;

      padding-top: $pad;
      padding-bottom: $pad;
      color: $txt-color-2;
      background: none;
      font-size: 1rem;
      overflow: hidden;
      width: 100%;

      &::placeholder {
        color: $transparent-color-black;
      }
    }

    button {
      $size: 2.8rem;

      cursor: pointer;
      width: $size;
      height: $size;
      border-radius: 1000 * $size;
      padding: 0 1.3rem;
      font-size: 1.5rem;
      color: $bg-color-2;
      background-color: $button-color-1;
      transition: $transition-1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;

      &:hover {
        background-color: $button-color-2;
      }

      &[disabled] {
        cursor: not-allowed;
        background-color: $bg-color-3;
        color: $bg-color-2;

        &:hover {
          background-color: color.adjust($bg-color-3, $lightness: -4%);
        }
      }
    }
  }
}
