@use "../variables.scss" as *;

div.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 44vw;
  min-width: 19rem;
  max-width: 20.5rem;
  height: 100%;
  background-color: $bg-color-5;
  position: absolute;
  right: -100%;
  opacity: 0;
  z-index: 900;
  transition: $transition-3;
  border-top-left-radius: $border-radius-1;
  border-bottom-left-radius: $border-radius-1;
  padding: 0.8rem;

  &.open {
    right: 0;
    opacity: 1;
  }

  div.containerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;

    b {
      font-size: 1.2rem;
      margin-right: 0.3rem;
      user-select: none;
    }
  }

  div.noChatHistoryContainer {
    color: rgba($txt-color-1, 0.7);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    text-align: center;
  }

  div.containerFooter {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    width: 100%;
    box-sizing: border-box;

    & > * {
      width: 100%;
    }
  }
}

div.backdrop {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $transparent-color-black;
  z-index: 800;
  opacity: 0;
  transition: opacity $transition-3;

  &.visible {
    opacity: 1;
    pointer-events: initial;
  }
}
