@use "../variables.scss" as *;

div.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 44vw;
  min-width: 19rem;
  max-width: 20.5rem;
  height: 100%;
  background-color: $bg-color-5;
  position: absolute;
  right: -100%;
  opacity: 0;
  z-index: 900;
  transition: $transition-3;
  border-top-left-radius: $border-radius-1;
  border-bottom-left-radius: $border-radius-1;
  padding: 0.8rem;

  &.open {
    right: 0;
    opacity: 1;
  }

  div.containerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    height: min-content;
    margin-bottom: 0.3rem;

    b {
      font-size: 1.2rem;
      margin-right: 0.3rem;
      user-select: none;
    }
  }

  & > div {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    div.noConversationHistoryContainer {
      color: rgba($txt-color-1, 0.7);
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.7rem;
      text-align: center;
    }

    ul.conversationHistoryContainer {
      list-style: none;
      width: 100%;
      overflow-y: auto;
      box-sizing: border-box;
      padding: 0;
      margin: 0 0 0.7rem 0;
      display: flex;
      flex-direction: column;
      gap: 0.15rem;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      button {
        cursor: pointer;
        width: 100%;
        padding: 0.6rem;
        border-radius: $border-radius-2;
        background-color: transparent;
        color: $transparent-color-white;
        transition: $transition-2;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.selected {
          color: $txt-color-1;
        }

        &:hover {
          background-color: $bg-color-4;
        }

        &:active {
          background-color: $bg-color-1;
          transform: scale(0.96);
        }
      }
    }

    div.containerFooter {
      margin-top: auto;
      display: flex;
      height: min-content;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;

      width: 100%;
      box-sizing: border-box;

      & > * {
        width: 100%;
      }

      div.profileContainer {
        box-sizing: border-box;
        background-color: $bg-color-4;
        padding: 0.6rem 0.7rem;
        border-radius: $border-radius-2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.7rem;

        span.profileIcon {
          $size: 2.1rem;

          user-select: none;
          width: $size;
          height: $size;
          border-radius: 100%;
          background-color: $profile-color-1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $size * 0.55;
          padding: $size * 0.05;
          color: $txt-color-1;
          flex-shrink: 0;
        }

        span.email {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

div.backdrop {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $transparent-color-black;
  z-index: 800;
  opacity: 0;
  transition: opacity $transition-3;

  &.visible {
    opacity: 1;
    pointer-events: initial;
  }
}
