@use "../variables.scss" as *;

textarea.main {
  padding: 0.7rem;
  color: $txt-color-2;
  background-color: $bg-color-2;
  border-radius: $border-radius-2;
  border: 2px solid transparent;
  transition: $transition-2;
  height: 200px;
  width: 200px;

  &::placeholder {
    color: $transparent-color-black;
  }

  &.error {
    color: $red-color-1;
    border-color: $red-color-1;
  }
}
