@use "../variables.scss" as *;

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  background-color: $bg-color-5;
  color: rgba($txt-color-1, 0.55);
  padding: 0.65rem;
  border: none;
  cursor: pointer;
  border-radius: $border-radius-1 * 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  transition: $transition-2;

  &.open,
  &:hover {
    color: $txt-color-1;
  }
}

.dropdownMenu {
  position: absolute;
}
